@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.title{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: var(--text-primary);
}